{% extends 'base.html' %}
{% block content %}
<h3>Create Task</h3>
<button type="button" class="btn btn-primary" style="margin:10px ; margin-left: 900px;"> <a class="btn btn-primary" href="{% url 'viewTaskAssigned'%}">View Tasks</a></button>
<br>
<form method="post" action="{% url 'createTask'%}">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" id="example1" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="example2"  name="descrpition" placeholder="Description">
      </div>
      <div class="form-group">
        <select name="assigned" id="assigned" style="width: 300px;">
            {% for user in allUsers %}
            <option value="{{user.id}}">{{user.name}}</option>
            {% endfor %}
          </select>
    </div>
            <div class="form-group">
                <p>Due Date</p>
                <input type="date" class="form-control" id="example4"  name="dueDate">
            </div>
          <button type="submit" class="btn btn-primary">Create Task</button>
      </div>
  </form>
  {% endblock %}