{% extends 'base.html' %}
{% block content %}
<div class="col-md-9 col-md-push-1">
  <h3 class="text-center">Tasks</h3>
<button type="button" class="btn btn-primary" style="margin:10px ; margin-left: 870px;"> <a class="btn btn-primary" href="{% url 'createTask'%}">Create Task</a></button>
  <div class="container">
      <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
              <form method="get"  action="{% url 'viewTaskAssigned'%}" id="searchForm" class="input-group">
                 {% csrf_token %}  
                  <div class="input-group-btn search-panel" style="padding-right:90px;">
                      <select name="search_param" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          <option value="all">All</option>
                          <option value="dueDate">Due Date</option>
                          <option value="createdBy">Created By</option>
                          <option value="assigned">Assignee</option>
                      </select>
                  </div>
                  <input type="text" class="form-control" name="search_valueString" style="margin-right: 10px;" placeholder="Search term...">
                  <input type="date" class="form-control" name="search_valueDate">
                  <span class="input-group-btn">
                      <button class="btn" type="submit">Search
                         <!-- <span class="glyphicon glyphicon-search"></span> -->
                      </button>
                  </span>
              </form><!-- end form -->     
          </div><!-- end col-xs-8 -->       
      </div><!-- end row -->  
      {% for task in tasks%}
      <div>
        <br>
        <div class="card" style="width: 50 rem; margin-left:50px;">
          <div class="card-body">
            <h5 class="card-title">Title -- {{task.title}}</h5>
            {% for user in task.assigned.all %}
            <p class="card-text">Assignee -- {{user.name}}</p>
            {% endfor %}
            <p class="card-text">Descrpition -- {{task.descrpition}}</p>
            <p class="card-text">Due Date -- {{task.dueDate}}</p>
          </div>
        </div>
      </div>
     {% endfor %}
  </div><!-- end container -->    
</div><!-- end col-md-9 -->
{% endblock %}